<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Mocoroa y Pescatori</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="author" content="Blu Integral">
    <meta name="keywords" content="inmobiliaria, mocoroaypescatori, inmobiliarias la plata, inmobiliarias buenos aires, propiedades, inmuebles, alquiler, venta, tasaciones, La Plata, Berisso, Gonnet, City Bell, Departamentos, Casas, Galpones, PH, Locales, Comercios, Departamentos Venta, Departamentos Alquiler, Casas Venta, Casas Alquiler">
    <meta name="description" content="Mocoroa y Pescatori comercializa inmuebles en venta y alquiler en zonas destacadas.">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />

    <script src="{{ asset('bundles/app/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>


    {% block head %}
    <script src="{{ asset('bundles/app/js/responsiveslides.min.js') }}"></script>

        <script>
            $(function () {
                $("#slider").responsiveSlides({
                    auto:true,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    pager:true,
                });
            });
        </script>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/owl.carousel.css') }}" />
        <script src="{{ asset('bundles/app/js/owl.carousel.js') }}"></script>
        <script>
            $(document).ready(function() {
                $("#owl-demo").owlCarousel({
                    items : 1,
                    lazyLoad : true,
                    autoPlay : true,
                    navigation : false,
                    navigationText :  false,
                    pagination : true,
                });
            });
        </script>
    {% endblock %}

</head>

<body>

    {{ include('default/header.html.twig') }}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <div class="footer-section">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-6 footer-grid">
                    <h4>Acerca de Nosotros</h4>
                    <p>MOCOROA & PESCATORI propiedades, es una sociedad inmobiliaria que se form&oacute; en el a&ntilde;o 1996, con el compromiso de brindar equilibrio y responsabilidad en nuestras operaciones inmobiliarias, y  con  el convencimiento de satisfacer a nuestros clientes, mediante nuestra intervenci&oacute;n profesional.</p>
                </div>


                <div class="col-md-3 footer-grid">
                    <h4>Contacto</h4>
                    <p>46 e/18 y 19 n&deg;1158</p>
                    <p>La Plata, Prov. Buenos Aires</p>
                    <p>(0221) 4257700</p>
                    <p>(0221) 4270330</p>
                    <p></p>
                    <p>E-mail : <a href="mailto:inmo@mocoroaypescatori.com.ar">inmo@mocoroaypescatori.com.ar</a></p>
                </div>

                <div class="col-md-3 footer-grid">
                    <h4>Suscribirse al newsletter</h4>


                    <form method="post" action="{{ path("crear_subscripcion") }}">
                        <div class="input-group">
                            <input type="email" id="app_subcription_email" name="app_subcription[email]" required="required" class="form-control" placeholder="Email">
                            <span class="input-group-btn">
								<input type="submit" class="btn btn-default" style="background: #FAA43D;" value="Suscribirse">
							</span>
                        </div>



                    </form>


                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!---footer--->
    <!--copy-->
    <div class="copy-section">
        <div class="container">
            <p>&copy; 2017. All rights reserved | Design by <a href="http://www.bluintegral.com.ar">Blu Integral</a></p>
        </div>
    </div>
    <!--copy-->

</body>

</html>