<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black !important;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: #FCAA50;
        color: white;
    }

    .pagination a:hover:not(.active) {background-color: #ddd;}
</style>


{% if pageCount > 1 %}
    <span class="pagination">
        {% if first is defined and current != first %}

                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>

        {% endif %}

        {% if previous is defined %}

            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>

        {% endif %}

        {% for page in pagesInRange %}

            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            {% else %}
                <a href="#" class="active">{{ page }}</a>
            {% endif %}

        {% endfor %}

        {% if next is defined %}

            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>

        {% endif %}

        {% if last is defined and current != last %}
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
        {% endif %}
    </span>
{% endif %}
