{% extends 'base.html.twig' %}

{% block body %}
<div class="content">
    <div class="blog-section">
        <div class="container">
            <div class="blog-grids">
                <div class="col-md-9 blog-grid">
                    {% for post in pagination %}
                        <div class="blog">
                            <h3><a href="{{ path('detalle_post', { 'id': post.id}) }}">{{ post.name }}</a></h3>
                            <a href="{{ path('detalle_post', { 'id': post.id}) }}"><img src="{{ asset("uploads/images/posts/main/" ~ post.mainImage.image) }}" class="img-responsive" alt=""/></a>
                            <p>{{ post.details|length > 501 ? post.details|striptags|slice(0, 201) : post.details|raw|striptags }}</p>
                            <a href="{{ path('detalle_post', { 'id': post.id}) }}" class="button5 hvr-shutter-out-horizontal">Ver más</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-3 blog-grid1">
                    <div class="categ">
                        <h3>Categoría</h3>
                        <ul>
                            {% for category in categories %}
                                <li><a href="#">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% include 'default/properties_featured_right_3.html.twig' with { 'propertiesFeaturedRight3': propertiesFeaturedRight3 } %}

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    {% endblock %}


