<script type="text/javascript">
    function MM_validateForm() { //v4.0
        if (document.getElementById){
            var i,p,q,nm,test,num,min,max,errors='',args=MM_validateForm.arguments;
            for (i=0; i<(args.length-2); i+=3) { test=args[i+2]; val=document.getElementById(args[i]);
                if (val) { nm=val.name; if ((val=val.value)!="") {
                    if (test.indexOf('isEmail')!=-1) { p=val.indexOf('@');
                        if (p<1 || p==(val.length-1)) errors+='- '+nm+' must contain an e-mail address.\n';
                    } else if (test!='R') { num = parseFloat(val);
                        if (isNaN(val)) errors+='- '+nm+' must contain a number.\n';
                        if (test.indexOf('inRange') != -1) { p=test.indexOf(':');
                            min=test.substring(8,p); max=test.substring(p+1);
                            if (num<min || max<num) errors+='- '+nm+' must contain a number between '+min+' and '+max+'.\n';
                        } } } else if (test.charAt(0) == 'R') errors += '- '+nm+' is required.\n'; }
            } if (errors) alert('The following error(s) occurred:\n'+errors);
            document.MM_returnValue = (errors == '');
        } }
</script>
<div id="centro_contacto">

    <div id="bannner_contacto">
        <img src="{{ asset('bundles/app/images/cabeceras/cabecera_contacto.jpg') }}" width="700" height="140" alt="cabecera_contacto" />
    </div>

    <br />
    <div id="formulario_contacto">
        </br>
        <p>
            Lo esperamos cordialmente en nuestras oficinas. Si lo prefiere, complete el siguiente
            formulario y nosotros nos comunicaremos con usted a la brevedad.</p>
        </br></br>



        {{ form_start(form, {'attr': {'style': 'display:inline;', 'class': 'formulario1'}}) }}

            <fieldset><legend>Datos personales</legend>
                <div class="Field FieldRow Required">
                    <span class="Label">Nombre:</span>
                    <label>{{ form_widget(form.nombre) }}</label>
                </div>
                <div class="Field FieldRow Required">
                    <span class="Label">Apellido:</span>
                    {{ form_widget(form.apellido) }}
                </div>
                <div class="Field FieldRow Required">
                    <span class="Label">e-mail:</span>
                    {{ form_widget(form.email) }}
                </div>
                <div class="Field FieldRow Required">
                    <span class="Label">Tel&eacute;fono:</span>
                    {{ form_widget(form.telefono) }}
                </div>
                <div class="Field FieldRow">
                    <span class="Label">Direcci&oacute;n:</span>
                    {{ form_widget(form.direccion) }}
                </div>
                <div class="Field FieldRow">
                    <span class="Label">Localidad:</span>
                    {{ form_widget(form.localidad) }}
                </div>
                <div class="Field FieldRow">
                    <span class="Label">Motivo:</span>
                    {{ form_widget(form.motivo) }}
                </div>
                <div class="Field">
                    <span class="Label">Comentarios:</span>
                    <label>{{ form_widget(form.comentarios) }}</label>
                </div>
            </fieldset>


            <div class="ActionArea ToLeft">
                <label>
                    <input type="submit" name="button" id="button" value="Enviar datos" />
                </label>
            </div>
    {{ form_end(form) }}
    </div>
    <br />
    <div class="mapa">
        <a href="{{ asset('bundles/app/images/mapa_abermat.jpg') }}" class="moodalbox"><img src="{{ asset('bundles/app/images/boton_mapa.jpg') }}" width="270" height="63" alt="" /></a>
    </div>

</div>
