
    <div class="contact-section">
        <div class="container">
            <div class="contact-grids">
                <div class="col-md-8 contact-grid">
                    <h5>Register concept</h5>
                    <p>&nbsp;</p>
                    <form method="post" action="{{ path('create_concept') }}">
                        {{ form_widget(form.name) }}
                        {{ form_widget(form.tag) }}
                        {{ form_widget(form.url) }}
                        {{ form_widget(form.xpath) }}
                        {{ form_widget(form.imageSrc) }}

                        <input type="submit" value="Register">
                    {{ form_end(form) }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
