{% extends 'base.html.twig' %}

{% block head %}


{% endblock %}

{% block body %}

    <div class="content">
        <div class="blog-section">
            <div class="container">
                <div class="blog-grids">
                    <div class="col-md-9 blog-grid">
                        <div class="blog">
                            <h3>{{ post.name }}</h3>

                            <div class="col-lg-12">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        {% set index = 1 %}
                                        {% for image in post.images %}
                                            <li data-target="#carousel-example-generic" data-slide-to="{{ index }}"></li>
                                            {% set index = index + 1 %}
                                        {% endfor %}
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img class="img-responsive" src="{{ asset("uploads/images/posts/main/" ~ post.mainImage.image) }}" alt="{{ post.name }}">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>

                                        {% for image in post.images %}
                                            <div class="item">
                                                <img class="img-responsive" src="{{ asset("uploads/images/posts/" ~ image.image) }}" alt="{{ post.name }}">
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                            <p>&nbsp;&nbsp;</p>

                        </div>
                        <div class="history">
                            <h4>Detalles</h4>
                            <p>{{ post.details|raw }}</p>
                        </div>
                    </div>
                    <div class="col-md-3 blog-grid1">
                        <div class="categ">
                            <h3>Categoría</h3>
                            <ul>
                                {% for category in categories %}
                                    <li><a href="#">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% include 'default/properties_featured_right_3.html.twig' with { 'propertiesFeaturedRight3': propertiesFeaturedRight3 } %}

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}