{% extends 'base.html.twig' %}

{% block head %}

{% endblock %}


{% block body %}

    <div class="content">
        <div class="properties-section">
            <div class="container">
                <div class="properties-grids">
                    <div class="col-md-9 properties-left">

                        <div class="col-lg-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    {% set index = 1 %}
                                    {% for image in property.images %}
                                        <li data-target="#carousel-example-generic" data-slide-to="{{ index }}"></li>
                                        {% set index = index + 1 %}
                                    {% endfor %}
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img class="img-responsive" src="{{ asset("uploads/images/properties/main/" ~ property.mainImage.image) }}" alt="{{ property.name }}">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>

                                    {% for image in property.images %}
                                        <div class="item">
                                            <img class="img-responsive" src="{{ asset("uploads/images/properties/" ~ image.image) }}" alt="{{ property.name }}">
                                        </div>
                                    {% endfor %}
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="properties-details">
                            {% if property.surface %}
                                <div class="col-md-2 properties-detail">
                                    <h5><span>{{ property.surface }}</span> m2</h5>
                                </div>
                            {% endif %}
                            {% if property.surface %}
                            <div class="col-md-2 properties-detail">
                                <h5><span>{{ property.bathrooms }}</span> baños</h5>
                            </div>
                            {% endif %}
                            {% if property.surface %}
                            <div class="col-md-2 properties-detail">
                                <h5><span>{{ property.rooms }}</span> ambientes</h5>
                            </div>
                            {% endif %}
                            <div class="col-md-2 properties-detail">
                                <h5><span>{{ property.category }}</span></h5>
                            </div>
                            <div class="col-md-2 properties-detail">
                                <h5><span>En {{ property.operation }}</span></h5>
                            </div>
                            <div class="col-md-2 properties-detail">
                                <a href="javascript:window.print()"> Imprimir</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="note">
                            <h4>Descripción</h4>
                            {{ property.details|raw }}
                        </div>

                        <div class="additional-details">
                            <h3>Detalles</h3>
                            <ul>
                                <li><span>OPERACIÓN</span> : {{ property.operation }}</li>
                                <li><span>TIPO DE INMUEBLE</span> : {{ property.category }}</li>
                                {% if property.address %}
                                <li><span>DIRECCIÓN</span> : {{ property.address }}</li>
                                {% endif %}
                                {% if property.neighborhood %}
                                <li><span>BARRIO</span> : {{ property.neighborhood }}</li>
                                {% endif %}
                                {% if property.province %}
                                <li><span>PROVINCIA</span> : {{ property.province }}</li>
                                {% endif %}
                                {% if property.location %}
                                <li><span>LOCALIDAD</span> : {{ property.location }}</li>
                                {% endif %}
                                {% if property.surface %}
                                <li><span>SUPERFICIE</span> : {{ property.surface }}</li>
                                {% endif %}
                                {% if property.code %}
                                <li><span>CÓDIGO</span> : {{ property.code }}</li>
                                {% endif %}
                                {% if property.folderNumber %}
                                <li><span>NÚMERO DE CARPETA</span> : {{ property.folderNumber }}</li>
                                {% endif %}
                                {% if property.coin %}
                                <li><span>MONEDA</span> : {{ property.coin }}</li>
                                {% endif %}
                                {% if property.price %}
                                <li><span>PRECIO</span> : {{ property.price }}</li>
                                {% endif %}
                                {% if property.rooms %}
                                <li><span>DORMITORIOS</span> : {{ property.rooms }}</li>
                                {% endif %}
                                {% if property.bathrooms %}
                                <li><span>BAÑOS</span> : {{ property.bathrooms}}</li>
                                {% endif %}
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <hr>

                        <div class="video">
                            <h4>Mapa</h4>
                            <div id="map" style="height: 450px;width: 100%;"></div>
                        </div>

                        {% if similars|length > 0 %}
                            <div class="similar-grids">
                                <h4>Propiedades Similares</h4>


                                {% for property in similars %}
                                    <div class="col-md-4 similar-grid">
                                        <a href="{{ path('detalle_propiedad', { 'id': property.id}) }}">
                                            <img src="{{ asset("uploads/images/properties/main/" ~ property.mainImage.image) }}" class="img-responsive" alt="{{ property.name }}">
                                        </a>
                                        <h5>{{ property.address }}</h5>
                                        <p>{{ property.details|length > 47 ? property.details|striptags|slice(0, 47) ~ '…' : property.details|raw  }} <a href="{{ path('detalle_propiedad', { 'id': property.id}) }}">Ver más</a></p>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="clearfix"></div>
                        {% endif %}
                    </div>

                    {% include 'default/filtro_propiedades_derecha.html.twig' with { 'propertiesFeaturedRight3': propertiesFeaturedRight3 } %}



                    <div class="col-lg-12">
                        <div class="coment-form">
                            <div class="container">
                                <h3>Enviar ficha por email</h3>
                                <form method="post" action="{{ path('enviar_ficha_email') }}">
                                    {{ form_widget(dataSheetForm.email) }}
                                    {{ form_widget(dataSheetForm.property) }}
                                    <input type="submit" value="Enviar Email" >
                                {{ form_end(dataSheetForm) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="coment-form">
                            <div class="container">
                                <h3>Dej&aacute; tu comentario</h3>
                                <form method="post" action="{{ path('crear_comentario') }}">
                                    {{ form_widget(contactForm.name) }}
                                    {{ form_widget(contactForm.email) }}
                                    {{ form_widget(contactForm.phone) }}
                                    {{ form_widget(contactForm.property) }}
                                    {{ form_widget(contactForm.comment) }}
                                    <input type="submit" value="Enviar Comentario" >
                                    {#<label><input type="checkbox" value="Sign me up for the newsletter">Sign me up for the newsletter</label>#}
                                {{ form_end(contactForm) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        var marker;

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: {lat: -34.9204948, lng: -57.95356570000001}
            });
            var geocoder = new google.maps.Geocoder();
            {% if property.mapVisible == true %}
                geocodeAddress(geocoder, map);
            {% endif %}
        }

        function geocodeAddress(geocoder, resultsMap) {
            geocoder.geocode({'address': "{{ property.getFullAddress }}"}, function(results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                    marker.addListener('click', toggleBounce);
                    resultsMap.setZoom(17);
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpgtkBd5idolBLMOZxyohOYce3BrrXaZA&callback=initMap">
    </script>

{% endblock %}