<html>
<head>
</head>
<body>

<img src='{{ asset("bundles/app/images/cabecera_mail.jpg") }}' width='500' height='40'/>

<div class='ficha'>
    <div class='ficha_titulo'>
        <h3>Respuesta a su comentario en la web de {{ app_name }}</h3>
    </div>



    <h5>Su comentario del {{ answer.comment.createdAt|date('d-m-Y') }}:</h5>
    <div class='detalles'>
        <p>{{ answer.comment.comment }}</p>
    </div>

    <h5>Respuesta:</h5>
    <div class='detalles'>
        <p>{{ answer.answer|raw }}</p>
    </div>

</div>

<img src='{{ asset("bundles/app/images/pie_mail.jpg") }}' width='500' height='41' />

</body>
</html>