<html>
<head>
</head>
<body>

<img src='{{ asset("bundles/app/images/cabecera_mail.jpg") }}' width='500' height='40'/>

<div class='ficha'>
    <div class='ficha_titulo'>
        <h3>{{ property.address }} - {% if property.neighborhood %}{{ property.neighborhood }} -{% endif %} {{ property.location }} - {{ property.province }}</h3>
    </div>

    <table border='0' cellpadding='0' cellspacing='0'>
        <tr>
            <td width='200'>

                <img src='{{ asset("uploads/images/properties/main/" ~ property.mainImage.image) }}' alt='Imagen de la propiedad' width='190' height='142'>

            </td>
        </tr>
    </table>

    <h5>Caracter&iacute;sticas</h5>
    <div class='detalles'>
        <ul>
            <li>Tipo de Inmueble: {{ property.category.name }}</li>
            <li>Operaci&oacute;n: {{ property.operation.name }}</li>
            <li>Superficie: {{ property.surface }}</li>
            <li>Dormitorios: {{ property.rooms }}</li>
            <li>Direcci&oacute;n: {{ property.address }}</li>
            <li>Barrio: {{ property.neighborhood }}</li>
            <li>Localidad: {{ property.location }}</li>
            <li>Provincia: {{ property.province }}</li>
        </ul>
    </div>

    {% if property.details %}
    <h5>Detalles</h5>
    <div class='detalles'>
        <p>{{ property.details }}</p>
    </div>
    {% endif %}

    {% if property.price%}
    <h5>Precio</h5>
    <div class='detalles'>
        <p>{{ property.price }}</p>
    </div>
    {% endif %}

</div>

<img src='{{ asset("bundles/app/images/pie_mail.jpg") }}' width='500' height='41' />

</body>
</html>