
 <div class="col-md-3 properties-right">
        <div class="properties-top">
            <form method="get" action="{{ path('propiedades') }}">

            <h4>Busca tu lugar</h4>
            <div class="yourplace">
                <h5>Categoría</h5>
                {{ form_widget(formFilter.category, {'attr' : { 'class' : 'sel2' }}) }}
            </div>
            <div class="yourplace">
                <h5>Operación</h5>
                {{ form_widget(formFilter.operation, {'attr' : { 'class' : 'sel2' }}) }}
            </div>
            <div class="yourplace">
                <h5>Localidad</h5>
                {{ form_widget(formFilter.location, {'attr' : { 'class' : 'sel2' }}) }}
            </div>
            <div class="yourplace">
                <h5>Habitaciones</h5>
                {{ form_widget(formFilter.rooms, {'attr' : { 'class' : 'sel2' }}) }}
            </div>
            <div class="yourplace">
                <h5>Baños</h5>
                {{ form_widget(formFilter.bathrooms, {'attr' : { 'class' : 'sel2' }}) }}
            </div>

            <div class="yourplace">
                <h5>Precio Mínimo</h5>
                {{ form_widget(formFilter.minPrice, {'attr' : { 'class' : 'sel3' }}) }}
            </div>
            <div class="yourplace">
                <h5>Precio Máximo</h5>
                {{ form_widget(formFilter.maxPrice, {'attr' : { 'class' : 'sel3' }}) }}
            </div>

            <div class="search1">
                    <input type="submit" name="submit-filter" value="Buscar" />
            </div>
            </form>
        </div>

     {% include 'default/properties_featured_right_3.html.twig' with { 'propertiesFeaturedRight3': propertiesFeaturedRight3 } %}
    </div>
