<div class="header-section">
    <div class="container">
        <div class="head-top">
            <div class="social-icon">
                <a href="#"><i class="icon"></i></a>
            </div>
            <div class="email">
                <ul>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email: <a href="mailto:inmo@mocoroaypescatori.com.ar">inmo@mocoroaypescatori.com.ar</a> </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <nav class="navbar navbar-default">
            <!---Brand and toggle get grouped for better mobile display--->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <h1><a href="http://www.mocoroaypescatori.com.ar"><img src="{{ asset("bundles/app/images/logo_myp_header.png") }}"/></a></h1>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('index') }}">Home <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Propiedades<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('propiedades') }}">Venta</a></li>
                            <li><a href="{{ path('propiedades') }}">Alquiler</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
                    <li><a href="{{ path('blog') }}">Blog</a></li>
                    <li><a href="{{ path('contacto') }}">Contacto</a></li>
                </ul>
                <div class="phone">
                    <span><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>(0221)5013632</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </nav>
    </div>
</div>