{% extends 'base.html.twig' %}

{% block body %}

<div class="content">
    <div class="place-section">
        <div class="container">
            <h2>encuentra tu propiedad</h2>
            <form method="get" action="{{ path('propiedades') }}">
            <div class="place-grids">
                <div class="col-md-4 place-grid">
                    <h5>localidad</h5>
                    {{ form_widget(formFilter.location, {'attr' : { 'class' : 'sel2' }}) }}
                </div>
                <div class="col-md-4 place-grid">
                    <h5>Tipo de operaci&oacute;n</h5>
                    {{ form_widget(formFilter.operation, {'attr' : { 'class' : 'sel2' }}) }}
                </div>
                <div class="col-md-4 place-grid">
                    <h5>Tipo de inmuebles</h5>
                    {{ form_widget(formFilter.category, {'attr' : { 'class' : 'sel2' }}) }}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="place-grids">
                <div class="col-md-2 place-grid1">
                    <h5>Dormitorios</h5>
                    {{ form_widget(formFilter.rooms, {'attr' : { 'class' : 'sel2' }}) }}
                </div>
                <div class="col-md-2 place-grid1">
                    <h5>Ba&ntilde;os</h5>
                    {{ form_widget(formFilter.bathrooms, {'attr' : { 'class' : 'sel2' }}) }}
                </div>
                <div class="col-md-2 place-grid1">
                    <h5>Precio m&iacute;nimo</h5>
                    {{ form_widget(formFilter.minPrice, {'attr' : { 'class' : 'sel3' }}) }}
                </div>
                <div class="col-md-2 place-grid1">
                    <h5>Precio M&aacute;ximo</h5>
                    {{ form_widget(formFilter.maxPrice, {'attr' : { 'class' : 'sel3' }}) }}
                </div>
                <div class="col-md-4 search">

                        <input type="submit" value="Buscar" />

                </div>

                <div class="clearfix"></div>
            </div>
            </form>
        </div>
    </div>
</div>



    <div class="friend-agent">
        <div class="container">
            <div class="friend-grids">
                <div class="col-md-4 friend-grid">
                    <img src="{{ asset("bundles/app/images/p.png") }}">
                    <h4>Search From Anywhere</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                </div>
                <div class="col-md-4 friend-grid">
                    <img src="{{ asset("bundles/app/images/p1.png") }}">
                    <h4>Agentes amigables</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                </div>
                <div class="col-md-4 friend-grid">
                    <img src="{{ asset("bundles/app/images/p2.png") }}">
                    <h4>Vende o alquila</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="offering">
        <div class="container">
            <h3>Nosotros ofrecemos propiedades so&ntilde;adas</h3>

            <div class="offer-grids">
            {% for property in propertiesMain2 %}
                    <div class="col-md-6 offer-grid">
                        <div class="offer-grid1">
                            <h4><a href="{{ path('detalle_propiedad', { 'id': property.id}) }}">{{ property.category }} en {{ property.location.name }}, {{ property.province.name }}</a></h4>
                            <div class="offer1">
                                <div class="offer-left">
                                    <a href="{{ path('detalle_propiedad', { 'id': property.id}) }}" class="mask"><img src="{{ asset("uploads/images/properties/main/" ~ property.mainImage.image) }}" class="img-responsive zoom-img" alt=""/></a>
                                </div>
                                <div class="offer-right">
                                    <h5><label>$</label> {{ property.price }} - <span>{{ property.operation }}</span></h5>
                                    <p>{{ property.details|length > 50 ? property.details|slice(0, 50)|raw ~ '…' : property.details|raw  }}</p>
                                    <a href="{{ path('detalle_propiedad', { 'id': property.id}) }}" class="button1">más detalles</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


    <!---Featured Properties--->
    <div class="feature-section">
        <div class="container">
            <h3>Propiedades principales</h3>
            <div class="feature-grids">
                {% for property in propertiesFeatured4 %}
                <div class="col-md-3 feature-grid">
                    <img src="{{ asset("uploads/images/properties/main/" ~ property.mainImage.image) }}" />
                    <h5>{{ property.name }}</h5>
                    <p>{{ property.details|length > 50 ? property.details|striptags|slice(0, 50)|raw ~ '…' : property.details|raw  }} <a href="#">Ver más</a></p>
                    <span>Precio: {{ property.price }}</span>
                </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---Featured Properties--->


    <!---testimonials--->
    <div class="testimonials">
        <div class="container">
            <h3>testimonios</h3>
            <span></span>
            <div id="owl-demo" class="owl-carousel">
                <div class="item">
                    <div class="col-md-2 testmonial-img">
                        <img src="{{ asset("bundles/app/images/t1.png") }}" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-md-10 testmonial-text">
                        <p>Lorem ipsum dolor sit amet, offendit volutpat sea ex, at omnium scripta pro, at omnium scripta pro, ei mea oratio malorum forensibus. ei mea oratio malorum forensibus. Sed ei omnes laoreet posidonium ei mea oratio malorum forensibus.</p>
                        <h4><a href="#">Michael Feng</a></h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="item">
                    <div class="col-md-2 testmonial-img">
                        <img src="{{ asset("bundles/app/images/t2.png") }}" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-md-10 testmonial-text">
                        <p>Lorem ipsum dolor sit amet, offendit volutpat sea ex, at omnium scripta pro, at omnium scripta pro, ei mea oratio malorum forensibus. ei mea oratio malorum forensibus. Sed ei omnes laoreet posidonium ei mea oratio malorum forensibus.</p>
                        <h4><a href="#">Stacy Barron</a></h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="item">
                    <div class="col-md-2 testmonial-img">
                        <img src="{{ asset("bundles/app/images/t3.png") }}" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-md-10 testmonial-text">
                        <p>Lorem ipsum dolor sit amet, offendit volutpat sea ex, at omnium scripta pro, at omnium scripta pro, ei mea oratio malorum forensibus. ei mea oratio malorum forensibus. Sed ei omnes laoreet posidonium ei mea oratio malorum forensibus.</p>
                        <h4><a href="#">Johnson </a></h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!---testmonials--->

{% endblock %}

