{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-new-' ~ _entity_config.name %}
{% block body_class 'new new-' ~ _entity_config.name|lower %}

{% block content_title %}
    {% spaceless %}
        Enviar respuesta por email
    {% endspaceless %}
{% endblock %}

{% block main %}
    {% block entity_form %}
        <form method="post" action="{{ path('commentproperty_send') }}">
            <div class="row">
                <div class="form-group field-link">
                    <label class="col-sm-2 control-label">Propiedad</label>
                    <div class="col-sm-10">
                        <input type="text" value="{{ entity.comment.property.getNameAddress }}" disabled>
                        <a id="property_link" target="_blank" href="{{ path('easyadmin', {'action': 'show', 'entity': 'Property', 'id': entity.comment.property.id }) }}">
                            Ver
                        </a>
                    </div>
                </div>
                {{ form_row(form.commentDate) }}
                {{ form_row(form.commentText) }}
                {{ form_row(form.comment) }}
                {{ form_row(form.answer) }}
            </div>

            <div class="col-xs-12 form-actions" style="width: 100%;">
                <div class="form-group">
                    <div id="form-actions-row">
                        <button type="submit" class="btn btn-primary action-save">
                            <i class="fa fa-save"></i> Guardar y Enviar Email
                        </button>
                        <a class="btn btn-secondary action-list" href="{{ path('easyadmin', {'action': 'list', 'entity': 'Comment'}) }}">Volver al listado</a>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    {% endblock entity_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('.new-form').areYouSure({ 'message': '{{ 'form.are_you_sure'|trans({}, 'EasyAdminBundle')|e('js') }}' });

            $('.form-actions').easyAdminSticky();
        });
    </script>

    {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
