<div class="feature">
    <h4>Propiedades Destacadas</h4>

    {% for property in propertiesFeaturedRight3 %}
        <div class="feature-top">
            <img src="{{ asset("uploads/images/properties/main/" ~ property.mainImage.image) }}" class="img-responsive" alt="/">
            <h5>{{ property.name }}</h5>
            <p>{{ property.details|length > 47 ? property.details|striptags|slice(0, 47)|raw ~ '…' : property.details|raw  }} <a href="{{ path('detalle_propiedad', { 'id': property.id}) }}">Ver más</a></p>
        </div>
    {% endfor %}
</div>