{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="properties-section">
            <div class="container">
                <div class="properties-grids">
                    <div class="col-md-9 forsales-left">
                        <div class="forsale">
                            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><img src="{{ asset("bundles/app/images/menu1.png") }}"></a></li>
                                    <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><img src="{{ asset("bundles/app/images/menu.png") }}"></a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                        {% for property in pagination %}
                                            <div class="forsale-grids">
                                                <h4><a href="{{ path('detalle_propiedad', { 'id': property.id}) }}">{{ property.name }}</a></h4>
                                                <div class="forsale1">
                                                    <div class="forsale-left">
                                                        <a href="{{ path('detalle_propiedad', { 'id': property.id}) }}"><img src="{{ asset("uploads/images/properties/main/" ~ property.mainImage.image) }}" class="img-responsive" alt="/"></a>
                                                    </div>
                                                    <div class="forsale-right">
                                                        <h5><label>$</label> {{ property.price }} - <span>{{ property.category }}</span></h5>
                                                        <p>{{ property.details|length > 160 ? property.details|striptags|slice(0, 160) ~ '…' : property.details|raw  }}</p>
                                                        <a href="{{ path('detalle_propiedad', { 'id': property.id}) }}" class="button4">más detalles</a>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <ul>
                                                        {% if property.surface != null %}
                                                            <li><span> {{ property.surface }} </span>m2</li>
                                                        {% endif %}
                                                        {% if property.bathrooms != null %}
                                                            <li><span> {{ property.bathrooms }} </span>Baños</li>
                                                        {% endif %}
                                                        {% if property.rooms != null %}
                                                            <li><span> {{ property.rooms }} </span>Habitaciones</li>
                                                        {% endif %}
                                                        <li><span> En {{ property.operation }} </span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                                        <div class="forsale-grids1">
                                            {% for key, property in pagination %}
                                                <div class="col-md-4 forsale-grid1">
                                                    <img src="{{ asset("uploads/images/properties/main/" ~ property.mainImage.image) }}" class="img-responsive" alt="/">
                                                    <div class="sale-info">
                                                        <span>En {{ property.operation }}</span>
                                                    </div>
                                                    <h5>{{ property.name }}</h5>
                                                    <p>{{ property.details|length > 47 ? property.details|striptags|slice(0, 47) ~ '…' : property.details|raw  }} <a href="
{{ path('detalle_propiedad', { 'id': property.id}) }}">Ver más</a></p>
                                                    <h6>$ {{ property.price }} </h6>
                                                </div>
                                                {% if (key + 1) is divisible by(3) and key != 0 %}
                                                    {% if pagination|length != (key + 1) %}
                                                        <div class="clearfix"></div>
                                                        </div>
                                                        <div class="forsale-grids1">
                                                    {% else %}
                                                        <div class="clearfix"></div>
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    {% if pagination|length == (key + 1) %}
                                                        <div class="clearfix"></div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'default/filtro_propiedades_derecha.html.twig' with { 'propertiesFeaturedRight3': propertiesFeaturedRight3 } %}

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


