body{
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family: 'Open Sans', sans-serif;
}
.header-section {
        background: #333d47;
}
.head-top {
    padding: .2em 0;
	border-bottom: 1px solid #565A5A;
}
.social-icon {
    float: left;   
	padding-top: .3em;
}
.social-icon a i {
    width: 34px;
    height: 34px;
    background: url(../images/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
}
.social-icon  i.icon {
	background: url(../images/img-sprite.png) no-repeat 0px 0px;
}
.social-icon  i.icon1 {
	background: url(../images/img-sprite.png) no-repeat -34px 0px;
}
.social-icon  i.icon2{
	background: url(../images/img-sprite.png) no-repeat -68px 0px;
}
.social-icon  i.icon3 {
	background: url(../images/img-sprite.png) no-repeat -102px 0px;
}
.social-icon i.icon4 {
	background: url(../images/img-sprite.png) no-repeat -134px 0px;
}
.social-icon i:hover {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.email {
    float: right;
}
.email ul li {
    display: inline-block;
	margin-right: .9em;
    padding-top: .5em;
	color: #C6C7C7;
}
.email ul li i {
    font-size: 1.2em;
    vertical-align: middle;
    margin-right: 0.5em;
    color: #888f90;
}
.email ul li a {
    font-size: 1.1em;
    color: #C6C7C7;
	text-decoration: none;
	outline: none;
}
.navbar-brand {
    float: left;
    padding: 0;
}
.navbar-header {
    float: left;
    width: 26%;
}
.navbar-brand h1 a {
    font-size: 1.3em;
    text-decoration: none;
	color: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
}
.navbar-brand h1 a span {
    font-weight: 600;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none !important;
	background: #333d47;
	padding-top: 4em;
}
.navbar-nav {
    float: left;
    margin: 0;
    width: 70%;
}
div#bs-example-navbar-collapse-1 {
    float: left;
    width: 74%;
}
.phone {
    float: right;
    width: 30%;
	background: #2da9e1;
	padding: .7em .5em;
}
.phone i {
    font-size: 1.5em;
    color: #fff;
    vertical-align: text-bottom;
}
.phone span {
    font-size: 1.8em;
    color: #fff;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-default .navbar-nav > li > a {
       color: #C6C7C7;
}
.navbar-nav > li > a {
    padding: 1.2em .8em;
    font-size: 1.15em;
	font-family: 'PT Sans', sans-serif;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #dca93c;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #dca93c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #dca93c;
}
.dropdown-menu > li > a {
    display: block;
    padding: 8px 7px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
	 font-size: 1em;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background: #E69432;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #FAA43D;
}
.dropdown-menu {
     border: none;
}
/*--- slider-css --*/
.banner1{
	background:url(../images/bnr1.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:650px;
}
.banner2{
	background:url(../images/bnr2.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:650px;
}
.banner3{
	background:url(../images/bnr3.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:650px;
}
.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides div.slid {
  -webkit-backface-visibility: hidden;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.caption {
    text-align: right;
    width: 35%;
    margin: 16em 0em 0 14em;
    background: rgba(255, 255, 255, 0.82);
    padding: .94em  2em;
}
.caption h3{
    font-size: 2em;
    text-transform: capitalize;
    color: #3A3B3C;
	font-family: 'Righteous', cursive;
}
.caption p{
	font-size: 1em;
    color: #222;
    line-height: 1.8em;
    padding: 1em 0 2em;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 20px;
	width: 20px;
	display: inline-block;
     border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	background:#fff;
	border:2px solid#fff;
}
.callbacks_here a:after{
	background:#dca93c;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
	
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 16%;
	z-index: 999;
	left: 47%;
}
a.button {
    font-size: 1em;
    background: #2DA9E1;
    padding: 1em 2em;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a.button:hover {
    background: #FAA43D;
}
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #dca93c;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.place-section {
   padding: 5em 0;
}
.place-section h2 {
    font-size: 3em;
    text-transform: capitalize;
	 text-align: center;
	font-family: 'Righteous', cursive;
	 color: #000;
}
.place-grids {
    margin-top: 3em;
}
.place-grid h5,.place-grid1 h5 {
    font-size: 1.3em;
    text-transform: capitalize;
	font-family: 'PT Sans', sans-serif;
	color: #000;
}
.sel {
    width: 99%;
    padding: .3em 1em;
    font-size: 1em;
	margin-top: 1em;
	outline: none;
	text-transform: capitalize;
	border: 1px solid #BBBBBB;
}
.search {
    margin-top: 2.3em;
}
.search input[type="submit"] {
    width: 100%;
    background: #dca93c;
    border: none;
    outline: none;
    color: #fff;
    padding: .4em;
}
.search input[type="submit"]:hover {
    background: #2DA9E1;
}
.friend-agent {
    padding: 4em 0;
    background: #f5f5f5;
	text-align: center;
}
.friend-grid h4 {
    font-size: 1.5em;
    padding: .8em 0 .5em 0;
	font-family: 'Righteous', cursive;
    color: #000;
}
.friend-grid img:hover {
    border-radius: 60%;
    border: 6px solid#2DA9E1;
	 transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
}
.friend-grid img {
    border-radius: 60%;
    border: 6px solid#fff;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.friend-grid p {
    font-size: 1em;
	line-height:1.8em;
    color: #777;
}
.offer-left {
    float: left;
    width: 48%;
}
.offer-right {
   float: left;
    width: 52%;
}
.offering {
    padding: 5em 0;
}
.offering h3,.feature-section h3,.membership h3,.testimonials h3,.additional-details h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #000;
}
.offer-grids {
    margin-top: 3em;
}
.offer-grid h4 a {
    font-size: 1.1em;
	font-family: 'Righteous', cursive;
    color: #000;
    margin-bottom: .5em;
    display: block;
	text-decoration:none;
}
.offer-right h5 {
	font-size: 1.2em;
    padding: .5em 0 .5em .5em;
	font-family: 'Righteous', cursive;
    color: #fff;
    background: #34ABE2;
}
.offer-right h5 label {
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif;
}
.offer-right h5 span {
    font-size: .75em;
    line-height: 1.5em;
}
.offer-left img {
    width: 100%;
}
.offer-grid1 {
    border: 1px solid #E4E4E4;
    padding: 1em;
}
.offer-right p {
    font-size: .92em;
    padding: .5em .5em .5em 1em;
    color: #777;
    line-height: 1.8em;
}
a.button1 {
    font-size: 1em;
    margin: 0 0 0 .5em;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
}
a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}
img.zoom-img:hover {
    -webkit-transform: scale(1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 1683ms;
    -moz-transform: scale(1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 1683ms;
    overflow: hidden;
}

img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 1683ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 1683ms;
}
.feature-section {
    padding: 5em 0;
	background: #F9F9F9;
}
.feature-grids {
    margin-top: 3em;
}
.feature-grid h5{
    font-size: 1.2em;
  font-family: 'Righteous', cursive;
    color: #000;
    font-style: italic;
	padding: .5em 0 .2em 0;
}
.feature-grid p {
    font-size: 1em;
    color: #777;
    line-height: 1.8em;
	margin-bottom:1em;
}
.feature-grid p a,.similar-grid p a,.feature-top p a,.forsale-grid1 p a {
    font-size: 1em;
    text-decoration: none;
	color: #000;
}
.feature-grid p a:hover {
	color: #dca93c;
}
.feature-grid span {
    font-size: 1em;
    background: #dca93c;
    padding: .5em 1em;
    color: #fff;
}
.membership {
    padding: 5em 0;
}
.membership-grids {
    text-align: center;
    margin-top: 3em;
}
.membership-grid h4 {
    background: #34ABE2;
    padding: .8em 0;
    font-size: 1.8em;
  font-family: 'Righteous', cursive;
    color: #fff;
}
.membership1 h5 {
    font-size: 2.5em;
    color: #000;
	  font-family: 'Righteous', cursive;
}
.membership1 {
    padding: 2em 0 0 0;
    border: 1px dotted #8E8B8B;
}
.membership1 h5 span {
    font-size: .4em;
    vertical-align: top;
	    color: #777;
}
.membership1 ul li {
    list-style: none;
	line-height: 2em;
    color: #777;
	font-size: 1em;
}
ul.member {
    padding: 1.5em 0;
    border-top: 1px solid#ddd;
}
.membership1 h6 {
    padding: .5em 0 2em;
    color: #777;
}
.testimonials{
	padding:5em 0;
	background: #F9F9F9;
}
.testimonials  p {
	color: #777;
	font-size: 1em;
	text-decoration: none;
	font-weight: 400;
	text-align: left;
	line-height: 1.8em;
}
.testimonials  h4 a{
	color: #000;
    font-size: 1.1em;
    text-decoration: none;
    margin-top: 1em;
  font-family: 'Righteous', cursive;
    display: block;
    float: left;
}
.test-monials {
	margin-top: 5em;
}
div#owl-demo {
    margin-top: 3em;
}
.footer-section {
    background: #222;
    padding: 5em 0;
}
.footer-grid h4 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: .5em;
	font-family: 'Righteous', cursive;
}
.footer-grid p {
    font-size: .96em;
    color: #777;
    line-height: 1.8em;
}
.footer-grid ul li a {
    font-size: .96em;
    color: #777;
    line-height: 1.8em;
	text-decoration:none;
}
.footer-grid ul li  {
    list-style: none;
}
.footer-grid ul li a:hover {
    color: #FAA43D;
}
.footer-grid p a {
    color: #FAA43D;
}
.copy-section{
	padding:2em 0;
	text-align:center;
	background: #333d47;
}
.copy-section p {
	font-size: 0.9em;
	color: #fff;
	font-weight: 400;
}
.copy-section  a {
	font-size: 1em;
	color:#fff;
	font-weight: 400;
	text-transform: capitalize;
}
.copy-section a:hover {
	color: #fff;
}
.copy-section a {
	margin: 0 0.3em
}
.banner-section {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 180px;
	text-align: center;
	    padding: 5em 0 0;
}
.banner-section h2{
    font-size: 3em;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #fff;
}
/**about**/
.about-section {
    padding: 5em 0;
}
.about-section h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    font-family: 'Righteous', cursive;
    color: #000;
	margin-bottom: .5em;
}
.about-left {
    float: left;
    width: 48%;
	margin-right:2%;
	border: 1px solid#DACFCF;
    padding: .5em;
	box-shadow: 0 0 5px #c3c3c3;
}
.about-right {
    float: left;
    width: 50%;
}
.about-right h5,.about-right1 h5{
	font-size: 1.2em;
    font-family: 'Righteous', cursive;
    color: #000;
}
.about-right p {
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
	padding-top: .8em;
}
.about-left1 {
    float: left;
    width: 14%;
    margin-right: 2%;
}
.about-right1 {
    float: left;
    width: 84%;
}
.about-left1 p {
    background: #2da9e1;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    margin: 0;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.45em;
}
.about-right1 p {
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
}
.about3 {
    padding: 1em 0;
}
.about-bottom {
   padding-top: 5em;
}
.aboutbottom-left {
    float: left;
    width: 9%;
    margin-right: 2%;
}
.aboutbottom-left p {
    background: #fff;
    color: #2da9e1;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    padding-top: 0.6em;
    box-shadow: 0 0 5px #c3c3c3;
}
.aboutbottom-right {
    float: left;
    width: 89%;
}
.aboutbottom-right h5 {
    font-size: 1.2em;
    font-family: 'Righteous', cursive;
    color: #000;
}
.about5 {
    padding: 1.5em 0;
}
.aboutbottom-right p,.about-bottom2 p{
	font-size: 1em;
    line-height: 1.8em;
    color: #777;
	padding-top: .5em;
}
.about-bottom2 h5 {
    font-size: 1.2em;
    font-family: 'Righteous', cursive;
    color: #000;
}
.about-bottom2 a {
    display: block;
    margin-top: 2em;
    color: #2da9e1;
    line-height: 1.8em;
}
.about-bottom2 a:hover{
 color: #dca93c;
}
/**about**/
/**agents**/
.agent-section {
    padding: 4em 0;
    background: #eee;
}
.agent-left {
    float: left;
    width: 50%;
}
.agent-right {
    float: left;
    width: 50%;
	background: #fff;
	 padding: 2em 2em 1em;
}
.agent-right h4{
	font-size: 1.5em;
    font-family: 'Righteous', cursive;
    color: #000;
}
.agent-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
	color:#777;
}
.agent-right ul {
    padding-top: 1em;
}
.agent-right ul li i {
    font-size: 1.2em;
    margin-right: 7px;
	color:#777;
}
a.button3 {
    font-size: 1em;
    background: #2DA9E1;
    padding: .8em 2em;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    margin: .86em 0;
    text-align: center;
}
.agent-grids1 {
    margin: 3em 0;
}
/**agents**/
/**forsale**/
.left-tab > li.active > a, .left-tab > li.active > a:hover, .left-tab > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #2da9e1;
    border: 1px solid #2da9e1;
    border-bottom-color: none !important;
}
.nav-tabs {
    border-bottom: none!important;
}
.nav-tabs > li > a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: 1px solid #FAA43D;
    border-radius:0;
	background: #FAA43D;
}
.forsale-grids {
    margin-top: 3em;
}
.forsale-grids h4 a {
    font-size: 1.1em;
    font-family: 'Righteous', cursive;
    color: #000;
    margin-bottom: .5em;
    display: block;
    text-decoration: none;
}
.forsale-left {
    float: left;
    width: 29%;
}
.forsale-right {
    float: left;
    width: 71%;
}
.forsale-right h5 {
    font-size: 1.2em;
    padding: .5em 0 .5em .5em;
    font-family: 'Righteous', cursive;
    color: #fff;
    background: #34ABE2;
}
.forsale-right p {
    font-size: .95em;
    padding: 1.5em .5em .5em 1em;
    color: #777;
    line-height: 1.8em;
}
a.button4 {
    font-size: 1em;
    margin: .5em 0 0 .8em;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
	display:block;
}
.forsale1 ul li {
    display: inline-block;
    padding: 1em 2em;
	border-left: 1px solid #ddd;
	font-size: 1em;
}
.forsale1 ul li span {
    font-weight: 700;
	font-size: 1em;
}
.forsale1 ul {
    background: #eee;
    margin-top: 1em;
	border: 1px solid #ddd;
}
.forsale-grids1 {
    margin-top: 3em;
	position:relative;
}
.sale-info span {
    font-size: 1em;
    color: #2DA9E1;
    font-weight: 900;
}
.forsale-grid1 p {
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
}
.sale-info {
    position: absolute;
    top: 0;
    left: 15px;
    width: 28%;
    background: #fff;
    padding: .5em;
}
.forsale-grid1 h6 {
    font-size: 1.1em;
    color: #FAA43D;
    font-weight: 600;
    padding-top: .5em;
}
/**forsale**/
/**services**/
.services-section {
    padding: 5em 0;
	    background: #eee;
}
.services-grid h4 {
    font-size: 1.5em;
    padding: .8em 0 .5em 0;
    font-family: 'Righteous', cursive;
    color: #000;
	text-transform: capitalize;
    text-align: center;
}
.services-grid p {
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
	padding: 0 2em 1em;
    text-align: center;
}
.services {
    background: #fff;
}
/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.main-service {
    text-align: center;   
	padding: 4em 0;
}
.main-service h3,.operation-consulting h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    font-family: 'Righteous', cursive;
    color: #000;
}
.service-grids {
    margin-top: 3em;
}
.service-grid i {
    font-size: 2.5em;
    color: #fff;
    background: #FAA43D;
    padding: .8em;
    border-radius: 50px;
	border: 5px solid #fff;
}
.service-grid h4 {
    font-size: 1.5em;
    padding: .8em 0 .5em 0;
    font-family: 'Righteous', cursive;
    color: #000;
	line-height: 1.5em;
}
.service-grid p {
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
}
.service-grid:hover  i {
    background: #2DA9E1;
	border: 5px solid #eee;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.service-grid{
    padding: 2em;
}
.operation-consulting {
    text-align: center;
    padding: 4em 0;
    background: #fff;
}
.operation-left img {
    width: 100%;
}
.operation-grids {
    margin-top: 3em;
}
.operation-left {
    float: left;
    width: 47%;
    margin-right: 3%;
	border: 1px solid#DACFCF;
    padding: .5em;
    box-shadow: 0 0 5px #c3c3c3;
}
.operation-right {
    float: left;
    width: 50%;
}
.operation-right h4{
	font-size: 1.5em;
	font-family: 'Righteous', cursive;
    color: #000;
	text-align: left;
}
.operation-right p{
	font-size: 1em;
    line-height: 1.8em;
    color: #777;
	padding-top: .8em;
    text-align: left;
}
/**services**/
/**faqs**/
.faq-section {
    padding: 5em 0;
	background: #eee;
}
.faq-section h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #000;
}
.test-list {
	margin-top: 3em;
	}
.test-list ul{
	margin: 0 0 10px 0;
	padding:0;
	background: #ffffff;
	width: 100%;
	cursor:pointer;
  border: 1px solid #eeeeee;
  border-radius: 5px;
	}
.test-list ul li{
	display: inline-block;
	padding: 9px 14px 9px 9px;
	background: #ffffff;
	border-right: 1px solid #eeeeee;
	}
.test-list ul li span{
  background: url(../images/plus.png) no-repeat 6px 5px;
  width: 19px;
  height: 19px;
	display: inline-block;
}
.test-list ul li.text{
	color: #2da9e1;
	background: #ffffff !important;
  font-size: 1em;
  font-weight: 600;
	margin-left: 15px;
	padding: 0 !important;
	border:none !important;
	}
.test-list p{
	font-size: 1em;
	color: #777;
	background: #ffffff;
	width: 100%;
	padding: 14px;
	margin: 10px 0;
	border: 1px solid #eeeeee;
	}
/**faqs**/
/**blog**/
.blog-section {
    padding: 5em 0;
	background:#eee;
}
.blog h3 a {
    font-size: 1em;
    font-family: 'Righteous', cursive;
    color: #000;
    text-decoration: none;
}
.blog-grid {
    background: #fff;
    padding: 1em 1em 2em;
}
.blog-grid1 h3,.blog h3 {
    font-size: 2.5em;
    font-family: 'Righteous', cursive;
    color: #000;
}
.blog-grid1 {
    padding-top: 1em;
}
.blog p {
    font-size: 1em;
    color: #777;
    padding: 1em 0;
    line-height: 1.8em;
}
.blog p a {
    margin: 0 .5em;
    color: #777;
    text-decoration: none;
}
.blog2 {
    margin: 3em 0;
}
.blog img {
    width: 100%;
}
a.button5 {
    font-size: 1em;
    background: #2da9e1;
    padding: .8em 0em;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    text-align: center;
	width: 16%;
}
.categ ul li {
    list-style: none;
}
.categ ul{
	margin-top:1.5em;
}
.categ ul li a {
    font-size: 1em;
    line-height: 2em;
	padding: 0px 24px;
    color: #2da9e1;
	background: url(../images/list-arrow.png) no-repeat 0 5px;
}
.tags ul li a {
    padding: 0.7em 0.8em;
    font-size: .9em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    background: #dca93c;
}
.tags ul li a:hover {
    background: #2DA9E1;
}
.tags ul li {
    display: inline-block;
}
.tags h4{
	font-size: 1.5em;
    padding: .8em 0 .5em 0;
    font-family: 'Righteous', cursive;
	color: #000;
}
.tags {
    margin: 2em 0;
}
.history h4,.rules h4,.traditions h4{
	font-size: 1.5em;
    font-family: 'Righteous', cursive;
	color: #000;
}
.history p {
    font-size: 1em;
    color: #777;
    line-height: 1.8em;
	    margin-top: 1em;
}
p.rules-text {
    font-size: 1em;
    color: #777;
    line-height: 1.8em;
	margin-top:1.5em;
}
.rules {
    padding: 1em 0;
	position: relative;
}
p.quote {
    font-size: 1em;
    color: #777;
    line-height: 1.8em;
    padding: 1em 2em;
    background: #eee;
    margin: 2em 2em 0;
    border-left: 5px solid #CCC;
}
p.rule-text {
    font-size: 1em;
    line-height: 1.8em;
    color: #fff;
    background: #FAA43D;
    padding: 2em;
    margin: 1.5em 0;
}
.close1{
    background: url('../images/close.png') no-repeat 0px 0px;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 0%;
    top: 65%;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    width: 32px;
}
p.trad {
    font-size: 1em;
    line-height: 1.8em;
    color: #fff;
    background: #2DA9E1;
    padding: 2em;
    margin: 1.5em 0;
}
.coment-form input[type="text"], .coment-form textarea, .coment-form input[type="email"] {
   display: block;
    background: #eee;
    color: #777;
    border: none;
    width: 60%;
    outline: none;
    font-size: 1em;
    padding: 1em 1em;
    border-bottom: 1px solid #BBB;
}
.coment-form textarea {
    width: 60%;
    display: block;
    min-height: 150px;
    resize: none;
    margin: 1em 0;
}
.coment-form input[type="email"] {
    margin: 1em 0;
}
.coment-form input[type="submit"] {
    background: #FAA43D;
    border: none;
    padding: 1em 0;
    width: 13%;
    font-size: 1em;
    color: #fff;
    letter-spacing: 0.5px;
    outline: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.coment-form input[type="checkbox"] {
    vertical-align: sub;
    margin-right: 1em;
}
.coment-form label {
    margin-left: 1em;
    font-size: .9em;
}
.coment-form {
    padding: 2em 0 0 0;
}
.coment-form h3{
    font-size: 2.5em;
    font-family: 'Righteous', cursive;
    color: #000;
	margin-bottom: .8em;
}
/**blog**/
/**price**/
.prices-section {
    padding: 5em 0;
    text-align: center;
}
.price-top {
    padding: 1.5em 0;
    background: #dca93c;
    border-bottom: 5px solid #2da9e1;
}
.price-top h4 {
    font-size: 2em;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Righteous', cursive;
}
.price-bottom h5 {
    font-size: 1.8em;
    background: #fff;
    padding: .5em 0;
    font-weight: 600;
}
.price-bottom {
    background: #eee;
}
.price-bottom ul li {
    color: #777;
    padding-top: .8em;
    font-size: .96em;
    line-height: 2em;
    padding: .5em 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.price-grid:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
}
.price-grid {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.price-grid a {
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background: #2da9e1;
    padding: 1em 2em;
    display: block;
    width: 100%;
}
ul.pack-left {
    float: left;
	text-align: left;
}
ul.pack-right {
    float: right;
	text-align: right;
}
.detail-grid ul li {
    list-style-type: none;
    line-height: 2.5em;
    color: #202020;
    font-size: 1em;
	    font-weight: 600;
}
.detail-grid ul li  a{
	color:#2da9e1;
	text-decoration:none;
	    font-weight: 600;
}
.detail-bottom {
    background: #eee;
    padding: 1em 2em;
}
.details-grids {
    margin-top: 5em;
}
a.view  {
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background: #dca93c;
    padding: 1em 2em;
    display: block;
    width: 100%;
	text-transform: capitalize;
}
a.view:hover {
    background: #2DA9E1;
}
/**price**/
/**agentprofile**/
.agentprofile-right {
    text-align: center;
    background: #eee;
}
.profile-right ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}
.profile-right ul li  a{
 color: #2DA9E1;
 text-decoration:none;
}
.profile-right ul li i {
    font-size: 1.2em;
    margin-right: 7px;
    color: #777;
}
.profile-left {
    float: left;
    width: 40%;
}
.profile-right {
    float: left;
    width: 60%;
	margin-top: 5em;
}
.profile-left h4 ,.about-me h4{
    font-size: 2em;
    font-family: 'Righteous', cursive;
    color: #000;
}
.profile-left p {
    font-size: 1em;
    text-transform: capitalize;
    color: #777;
    line-height: 2em;
    padding: .5em 0;
}
.profile-left p a {
   text-decoration:none;
   color: #dca93c;
}
.profile-right h5 {
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
    color: #fff;
    background: #2DA9E1;
    padding: .8em 1em;
}
.about-me {
    margin-top: 3em;
}
.profile-right ul {
    margin-top: 2em;
}
.about-me p {
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
	padding: .8em 0;
}
.contact-me {
    margin-top: 2em;
}
.contact-me h4{
    font-size: 2em;
    font-family: 'Righteous', cursive;
    color: #000;
	margin-bottom:1em;
}
.contact-me input[type="text"], .contact-me input[type="email"], .contact-me textarea {
    background: none;
    border: 1px solid #D9D9D9;
    color: #A3A3A3;
    padding: .8em 1em;
    font-size: 1em;
    outline: none;
	box-shadow: 0px 2px 0px 0px rgba(227, 228, 231, 1);
	border-radius: 4px;
}
.contact-me textarea {
    min-height: 200px;
    resize: none;
    width: 100%;
    margin: 1em 0;
}
.contact-me input[type="text"], .contact-me input[type="email"] {
    width: 32.7%;
    float: left;
}
.contact-me input[type="email"] {
    margin: 0 6px;
}
.contact-me input[type="submit"], .contact-me input[type="reset"] {
    outline: none;
    color: #fff;
    font-size: 1em;
    padding: 13px 0;
    width: 15.68%;
    background: #2DA9E1;
    border: none;
    text-transform: uppercase;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-me input[type="submit"]:hover, .contact-me input[type="reset"]:hover {
    background: #FAA43D;
}
/**agentprofile**/
/**IDXpress**/
.idxpress-section {
    padding: 5em 0;
	background:#eee;
}
.idxpress-left {
    text-align: center;
	background: #fff;
}
.idxpress-top iframe {
    width: 100%;
    height: 350px;
    border: 2px solid#fff;
    padding: 15px;
    background: #fff;
}
.idxpres-left {
    float: left;
    width: 29%;
}
.idxpres-right {
    float: left;
    width: 71%;
}
.idxpres-right h5 {
    font-size: 1.2em;
    padding: .5em 0 .5em .5em;
    font-family: 'Righteous', cursive;
    color: #fff;
    background: #34ABE2;
}
.idxpresright-bottom ul li {
    list-style: none;
}
.idxpresright-bottom ul li {
    list-style: none;
    font-size: 1em;
    line-height: 2em;
    padding: 0 1em;
    color: #777;
}
.idxpresright-bottom {
    margin-top: 1.5em;
}
ul.bottom-left {
    float: left;
    width: 50%;
}
ul.bottom-right {
    float: left;
    width: 50%;
}
.idxpres-grids {
    margin-top: 3em;
}
/**IDXpress**/
/**properties**/
.properties-section {
    padding: 5em 0;
}
.properties-details {
    margin: 2em 0;
    background: #eee;
    padding: 1em 0em;
    text-align: center;
	border-bottom: 3px solid #E0DEDE;
}
.properties-detail h5 span {
    font-weight: 700;
    font-size: 1.1em;
    color: #555;
}
.col-md-2.properties-detail h5 {
    font-size: .95em;
    text-transform: uppercase;
	color: #555;
}
.properties-detail a {
    font-size: .85em;
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
}
.properties-left p {
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
}
.additional-details {
    margin-top: 3em;
}
.additional-details ul li {
    list-style: none;
    font-size: .96em;
    line-height: 1.5em;
    padding: .5em .5em;
    color: #777;
	border-top: 1px solid #eee;
}
.additional-details ul {
    margin-top: 3em;
}
.additional-details ul li span {
    font-weight:600;
	    color: #000;
}
.additional-details ul li:hover {
    background: #eee;
}
.additional-details ul li:nth-child(17){
	border-bottom: 1px solid #eee;
}
.note {
    margin: 3em 0;
	background: #eee;
    padding: 2em 2em;
}
.note h4 {
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
    color: #000;
	margin-bottom: .5em;
}
.video img {
    width: 100%;
}
.video h4 {
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
    color: #fff;
    background-color: #dca93c;
    padding: 1em;
    width: 25%;
}
.similar-grids {
    margin-top: 3em;
}
.similar-grid h5,.feature-top h5,.forsale-grid1 h5{
    font-size: 1.2em;
  font-family: 'Righteous', cursive;
    color: #000;
    font-style: italic;
	padding: .5em 0 .2em 0;
}
.similar-grid p {
	margin-bottom:1em;
}
.similar-grids h4 {
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
    color: #000;
    margin:0 0 .5em .5em;
	text-transform: capitalize;
}
.properties-right {
    text-align: center;
	background:#eee;
}
.properties-top h4,.properties-middle h4,.feature h4{
	font-size: 1.5em;
    font-family: 'Righteous', cursive;
    color: #fff;
    padding: 1em 0;
    background: #FAA43D;
    margin-bottom: 1em;
}
.properties-top {
    margin-top: 2em;
}
.properties-top ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    border-bottom: 1px solid #BFBBBB;
}
.properties-top ul {
    margin: 2em 0;
}
.properties-top ul li i {
    font-size: 1.2em;
    margin-right: 7px;
}
.properties-top img {
    width: 100%;
}
.properties-top p {
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
    padding: 0 1em;
    text-align: left;
}
a.button2 {
    font-size: 1em;
    background: #2DA9E1;
    padding: 1em 2em;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
	    display: block;
    margin: 1em;
}
.send-message input[type="text"],.send-message textarea {
    width: 90%;
    padding: .5em 1em;
    border: 1px solid#ddd;
    outline: none;  
	font-size: 1em;
}
.mail {
    margin: 1em 0;
}
.send-message h5{
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
    color: #000;
    margin-bottom: .5em;
}
.send-message textarea {
	resize:none;
    height: 100px;
}
.send-message input[type="submit"] {
    padding: .5em 1em;
    border: none;
    color: #fff;
    background: #dca93c;
    outline: none;
    display: block;
    margin: 1em 1.3em;
	    font-size: 1em;
}
.properties-middle input[type="text"] {
	width: 90%;
    padding: .5em 1em;
    border: 1px solid#ddd;
    outline: none;
	margin: .5em 0 .8em 0;
	    font-size: 1em;
}
.properties-middle {
    margin: 2em 0;
}
.properties-middle span {
    font-size: .965em;
    color: #777;
}
.sel1 {
    width: 90%;
    padding: .5em 1em;
    font-size: 1em;
	outline: none;
	margin-top: .5em;
    text-transform: capitalize;
    border: 1px solid #ddd;
	    color: #777;
}
.properties-middle input[type="submit"] {
    padding: .5em 1em;
    border: none;
    color: #fff;
    background: #dca93c;
    outline: none;
    display: block;
    margin: 1em 1.3em;
	    font-size: 1em;
}
.feature {
    margin: 3em 0;
	text-align: center;
}
.top2 {
    margin-top: 2em;
}
.feature-top p{
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
}
.yourplace h5,.yourplace-grid h5 {
    font-size: 1.1em;
    text-transform: capitalize;
	font-family: 'PT Sans', sans-serif;
	color: #777;
}
.sel2 {
    width: 95%;
    padding: .3em 1em;
    font-size: 1em;
    margin: 1em 0;
    outline: none;
    text-transform: capitalize;
    border: 1px solid #BBBBBB;
}
.sel3 {
    width: 95%;
    padding: .3em 1em;
    font-size: 1em;
    margin: 1em 0;
    outline: none;
    text-transform: capitalize;
    border: 1px solid #BBBBBB;
}
.yourplace-grid {
    padding: 0 10px
}
.yourplace-grids1 {
    margin-top: 1em;
}
.search1 input[type="submit"] {
    width: 50%;
    background: #2da9e1;
    border: none;
    outline: none;
    color: #fff;
    padding: .4em;
    margin-top: 1em;
}
/**properties**/
/**gallery**/
.gallery-section {
    padding: 5em 0;
}
.gallery-grids{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position:relative;
	    margin-top: 2em;
}
.gallery-grid:hover span.rollover1 {
    background: url(../images/plues1.png) center no-repeat rgba(45, 169, 225, 0.88);
    cursor: pointer;
    height: 193px;
    width: 255px;
    display: block;
    position: absolute;
    z-index: -9999px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.gallery-grid1:hover span.rollover1 {
    background: url(../images/plues1.png) center no-repeat rgba(45, 169, 225, 0.88);
    cursor: pointer;
    height: 263px;
    width: 350px;
    display: block;
    position: absolute;
    z-index: -9999px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.gallery-grid2:hover span.rollover1 {
    background: url(../images/plues1.png) center no-repeat rgba(45, 169, 225, 0.88);
    cursor: pointer;
    height: 270px;
    width: 540px;
    display: block;
    position: absolute;
    z-index: -9999px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/**gallery**/
/*-- typography --*/
/*--Typography--*/
p.iste{
	color:#999;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color: #000;
    text-transform: capitalize;
    font-family: 'Righteous', cursive;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.list-group {
  margin-bottom: 48px;
}
 ol {
  margin-bottom: 44px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
    font-size: 60% !important;
}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 43% !important;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.caption span {
		margin: 0 0 1.5em;
	}
	.grid_4 {
		margin-top: 18px;
	}
	h1.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- //typography --*/
/**contact**/
.contact-section{
	padding:5em 0;
	background: #eee;
}
.google-map iframe {
    width: 100%;
    height: 500px;
    border: 2px solid#fff;
    padding: 15px;
    background: #fff;
}
.contact-grid input[type="text"], .contact-grid textarea, .contact-grid input[type="email"] {
    display: block;
    background: #fff;
    color: #777;
    border: none;
    width: 50%;
    outline: none;
    font-size: 1em;
    padding: 1em 1em;
    border-bottom: 1px solid #BBB;
}
.contact-grid input[type="email"] {
    margin: 1em 0;
}
.contact-grid textarea{
	width: 70%;
    height: 200px;
    resize: none;
	margin: 1em 0;
}
.contact-grid input[type="submit"] {
    background: #FAA43D;
    border: none;
    padding: 1em 0;
    width: 22%;
    font-size: 1em;
    color: #fff;
    letter-spacing: 0.5px;
    outline: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-grid input[type="submit"]:hover {
    background: #2DA9E1;
}
.contact-grids {
    margin-top: 3em;
}
.contact-grid h5,.agent-info h5{
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
    color: #000;
}
.contact-grid  p {
    font-size: 1em;
    color: #777;
    padding: 1em 0;
    line-height: 1.8em;
}
.contact-grid1 h4{
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
    color: #000;
}
.agent-info h6{
    font-size: 1.1em;
    font-family: 'Righteous', cursive;
    color: #000;
	padding-top: .5em;
}
.agent-img {
    float: left;
    width: 30%;
	margin-right:3%;
	border-radius: 60%;
    border: 4px solid#fff;
}
.agent-info {
    float: left;
    width: 67%;
	margin-top: 1.5em;
}
.contact-top {
   margin: 1em 0;
}
.contact-grid1 ul li {
    list-style: none;
    line-height: 2.5em;
    font-size: 1em;
    color: #777;
}
.contact-grid1 ul li i {
    font-size: 1.2em;
    margin-right: 7px;
    color: #777;
}
.contact-grid1 ul li a {
    color: #777;
    text-decoration: none;
}
/**contact**/
/*-- login --*/
.modal-header {
    border-bottom: none;
}
.modal-dialog {
    width: 550px;
    margin: 12em auto 0 auto;
}
.modal-body {
    padding: 2em 4em 4em;
}
.login-right h3{
    font-size: 2.5em;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #dca93c;
}
.login-right input[type="text"] ,.login-right input[type="password"] {
    width: 100%;
    padding: 10px;
    font-weight: normal;
    background: none;
    border: 1px solid #E6E4E4;
    color: #D2D1D1;
    outline: none;
    font-size: 14px;
    margin-top: 20px;
   font-family: 'Montserrat', sans-serif;
}
.login-right h4{
	color:#C53743;
	font-size:12px;
	margin:20px 0;
}
.login-right h4 a{
	color:#dca93c;
	text-decoration:none;
}
.login-right h4 a:hover{
	color:#dca93c;
}
.login-right input[type="submit"] {
  background:#2da9e1;
  color: #fff;
  font-size: 1.5em;
  border: none;
  width: 100%;
  outline: none;
  -webkit-appearance:none;
      padding: .5em 0;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
    margin-top: .5em;
    font-family: 'PT Sans', sans-serif;
}
.login-right input[type="submit"]:hover {
	background:#dca93c;
}
.login-grids p {
    font-size: 12px;
    margin-top: 25px;
	color:#A9A8A8;
}
.login-grids p a{
	color:#dca93c;
	text-decoration:none;	
}
.modal-header .close {
    outline: none;
}
/*-- //login --*/
/*--terms--*/
.terms h3:after,.terms h3:before {
  	width: 200px;
  	height: 1px;
  	display: inline-block;
  	vertical-align: middle;
  	content: "";
  	background: #000;
  	margin: 0 1%;
}
.terms h4 {
  	font-size: 1.5em;
  	color:#2da9e1;
	font-family: 'Righteous', cursive;
}
.terms p{
	font-size: 1em;
	color:#777;
	line-height: 2em;
	padding: 1em 0;
}
ul.terms-start li{
	list-style: none;
}
ul.terms-start li a{
	display: block;
    text-decoration: none;
    color: #777;
    margin: 0.5em 0;
    font-size: 0.965em;
    line-height: 2em;
}
ul.terms-start li a:hover {
  color: #dca93c;
}
ul.terms-start li a i{
	display: inline-block;
  	border-radius: 100px;
  	width: 6px;
  	height: 6px;
  	background: #000;
  	vertical-align: middle;
  	margin: 0 1% 0 0;
}
.terms {
  padding: 5em 0;
}
/*--//terms--*/
/*--privacy--*/
.privacy h3:after, .privacy h3:before {
  	width: 200px;
  	height: 1px;
  	display: inline-block;
  	vertical-align: middle;
  	content: "";
  	background: #000;
  	margin: 0 1%;
}
.privacy h4 {
  	font-size: 1.5em;
  	color:#dca93c;
	font-family: 'Righteous', cursive;
}
.privacy p{
	font-size: 1em;
	color:#777;
	line-height: 2em;
	padding: 1em 0;
}
ul.privacy-start li{
	list-style: none;
}
ul.privacy-start li a{
	display: block;
    text-decoration: none;
    color: #777;
    margin: 0.5em 0;
    font-size: 0.965em;
    line-height: 2em;
}
ul.privacy-start li a:hover {
  color: #2da9e1;
}
ul.privacy-start li a i{
	display: inline-block;
  	border-radius: 100px;
  	width: 6px;
  	height: 6px;
  	background: #000;
  	vertical-align: middle;
  	margin: 0 1% 0 0;
}
.privacy {
  padding: 5em 0;
}
.use-privay{
	padding: 0.2em 0;
}
p.privacy-para {
  padding: 1em 0 0.3em;
}
/*--//privacy--*/

/*responsive*/
@media(max-width:1440px){
.caption {
    width: 39%;
	margin: 16em 0em 0 9em;
}
.banner1,.banner2,.banner3{
    min-height: 550px;
}
ul.callbacks_tabs.callbacks1_tabs {
    bottom: 14%;
}
@media(max-width:1366px){
.caption {
    margin: 13em 0em 0 7em;
}
.banner1,.banner2,.banner3{
    min-height: 520px;
}
.caption {
    width: 41%;
}
}
@media (max-width: 1280px){
.caption {
    width: 44%;
	 margin: 13em 0em 0 5em;
}
}
@media(max-width:1080px){
.phone span {
    font-size: 1.5em;
}
.navbar-nav > li > a {
    padding: 1.2em .6em;
}
.caption {
    width: 52%;
    margin: 13em 0em 0 5em;
}
.caption h3 {
    font-size: 1.8em;
}
.phone {
    padding: .89em .5em;
}
.caption p,.friend-grid p,.feature-grid p,.about-right p,.testimonials p,.aboutbottom-right p, .about-bottom2 p,.about-right1 p,.services-grid p,.service-grid p,.operation-right p,.about-me p,.feature-top p,.profile-left p,.forsale-grid1 p,.similar-grid p,.properties-left p,.properties-top p,.blog p,.history p,p.rules-text,p.quote,p.rule-text,p.trad,.contact-grid p,.terms p,.privacy p,.test-list p{
    font-size: 0.965em;
}
.place-section h2,.banner-section h2 {
    font-size: 2.8em;
}
.offering h3, .feature-section h3, .membership h3, .testimonials h3, .additional-details h3,.about-section h3,.main-service h3, .operation-consulting h3,.faq-section h3,.blog-grid1 h3, .blog h3,.coment-form h3 {
    font-size: 2.3em;
}
.membership-grid h4 {
    font-size: 1.5em;
}
.aboutbottom-left {
    width: 12%;
    margin-right: 2%;
}
.aboutbottom-right {
    float: left;
    width: 86%
}
.service-grid {
    padding: 2em .2em;
}
.agent-right {
    padding: 1em 1em 1em;
}
.profile-left {
    float: left;
    width: 45%;
}.profile-right {
    float: left;
    width: 54%;
}
.profile-right {
    float: left;
    width: 55%;
}
.sale-info {
    width: 32%;
}
.properties-top h4, .properties-middle h4, .feature h4 {
    font-size: 1.4em;
}
.video h4 {
    width: 29%;
}
.gallery-grid2:hover span.rollover1 {
    height: 220px;
    width: 440px;
}
.gallery-grid1:hover span.rollover1 {
    height: 213px;
    width: 283px;
}
.gallery-grid:hover span.rollover1 {
    height: 154px;
    width: 205px;
}
.blog h3 a {
    font-size: 0.9em;
}
.categ ul li a {
    font-size: .92em;
    padding: 0px 15px
}
.tags ul li a {
    padding: 0.7em 0.5em;
    font-size: .85em;
}
.coment-form input[type="submit"] {
    width: 16%;
}
.contact-grid input[type="submit"] {
    width: 26%
}
}
@media(max-width:991px){
.navbar-brand h1 a {
    font-size: 1.05em;
}
.navbar-nav > li > a {
    padding: 1.2em .25em;
    font-size: 1.05em;
}
.navbar-header {
    margin-top: .3em;
}
.phone span {
    font-size: 1.18em;
}
.phone {
    margin-top: 0.3em;
}
.navbar {
    padding-top: 2em;
}
.caption h3 {
    font-size: 1.7em;
}
.banner1, .banner2, .banner3 {
    min-height: 380px;
}
.caption {
    width: 52%;
    margin: 7em 0em 0 2em;
}
.caption h3 {
    font-size: 1.6em;
}
.place-section h2, .banner-section h2 {
    font-size: 2.5em;
}
.place-section,.offering,.friend-agent,.feature-section,.membership,.testimonials,.footer-section,.about-section,.services-section,.properties-section,.prices-section,.faq-section,.gallery-section,.idxpress-section,.blog-section,.typography,.contact-section,.privacy,.terms{
    padding: 4em 0;
}
.about-bottom {
    padding-top: 4em;
}
.place-grid {
    width: 25%;
    float: left;
}
.place-grid1 {
    width: 17%;
    float: left;
}
.search {
    float: left;
    width: 32%;
}
.place-grid h5, .place-grid1 h5 {
    font-size: 1.2em;
}
.friend-grid {
    float: left;
    width: 33.3%;
}
.friend-grid img {
    width: 100%;
}
.friend-grid h4,.membership-grid h4,.footer-grid h4 ,.service-grid h4,.services-grid h4,.operation-right h4,.agent-right h4,.similar-grids h4,.contact-grid1 h4 {
    font-size: 1.4em;
}
.offering h3, .feature-section h3, .membership h3, .testimonials h3, .additional-details h3, .about-section h3,.main-service h3, .operation-consulting h3,.faq-section h3, .blog-grid1 h3, .blog h3, .coment-form h3 {
    font-size: 2em;
}
.offer-left {
    float: left;
    width: 35%;
}
.offer-right {
    float: left;
    width: 65%;
}
.offer-grid h4 a {
    font-size: 1em;
}
.feature-grid {
    float: left;
    width: 25%;
}
.membership-grid {
    float: left;
    width: 33.3%;
}
.membership1 h5 {
    font-size: 1.6em;
}
.testmonial-img {
    float: left;
    width: 25%;
}
.testmonial-text {
    float: left;
    width: 75%;
}
.feature-grid h5 {
    font-size: 1.2em;
    line-height: 1.5em;
}
.footer-grid {
    float: left;
    width: 50%;
}
.footer-grid:nth-child(3) {
    margin-top: 1em;
}
.footer-grid:nth-child(4) {
    margin-top: 1em;
}
.about-left1 {
    float: left;
    width: 7%
}
.about-right1 {
    float: left;
    width: 91%;
}
.about-bottom2 {
    margin-top: 1em;
}
.about-bottom2 a {
    margin-top: 1.5em;
}
.services-grid {
    float: left;
    width: 33.3%;
}
.service-grid {
    float: left;
    width: 50%;
	padding: 2em 1.5em;
}
.operation-grid {
    float: left;
    width: 50%;
}
.agent-left {
    float: left;
    width: 37%;
}
.agent-right {
    float: left;
    width: 63%;
}
.agent-right {
    padding: 1.1em 1em 1em;
}
.agent-grid:nth-child(2) {
    margin-top: 3em;
}
.agentprofile-left {
    float: left;
    width: 70%;
}
.agentprofile-right {
    float: left;
    width: 30%;
}
.properties-top h4, .properties-middle h4, .feature h4 {
    font-size: 1.3em;
}
.profile-left h4, .about-me h4 {
    font-size: 1.6em;
}
.profile-left {
    float: left;
    width: 50%;
    margin-right: 2%;
}
.profile-right {
    float: left;
    width: 48%;
}
.profile-right ul {
    margin-left: 1em;
}
.profile-right h5 {
    font-size: 1.4em;
}
.contact-me input[type="text"], .contact-me input[type="email"] {
    width: 32.4%;
}
.contact-me h4 {
    font-size: 1.6em;
}
.contact-me input[type="submit"], .contact-me input[type="reset"] {
    width: 18.68%;
}
.similar-grid {
    float: left;
    width: 33.3%;
}
.similar-grid h5, .feature-top h5, .forsale-grid1 h5 {
    line-height: 1.5em;
	font-size: 1.15em;
}
.forsale-grid1 {
    float: left;
    width: 33.3%;
}
.sale-info {
    width: 33%;
}
.sel3 {
    width: 95%
}
.feature-top img {
    margin: 0 auto;
}
.properties-right {
    margin-top: 3em;
	padding: .2em 1em
}
.sel2 {
    width: 97%;
}
.forsale-right h5 {
    font-size: 1.15em;
}
.search1 input[type="submit"] {
    width: 51%;
}
.forsale-right p {
    padding: 1em .5em .5em 1em;
}
.price-grid {
    float: left;
    width: 50%;
}
.price-grid:nth-child(3) {
    margin-top: 2em;
}
.price-grid:nth-child(4) {
    margin-top: 2em;
}
.yourplace-grid {
    padding: 0;
    float: left;
    width: 50%;
}
.price-top h4 {
    font-size: 1.8em;
}
.price-bottom h5 {
    font-size: 1.6em;
}
.detail-grid {
    float: left;
    width: 33.3%;
}
.detail-grid ul li {
    font-size: 0.95em;
}
.detail-bottom {
    padding: 1em .5em;
}
.idxpress-left {
    float: left;
    width: 30%;
}
.idxpress-right {
    float: left;
    width: 70%;
}
.idxpres-left {
    float: left;
    width: 35%;
}
.idxpres-right {
    float: left;
    width: 65%;
}
.idxpress-top iframe {
    height: 290px;
}
.idxpresright-bottom {
    margin-top: 1em;
}
.idxpres-right h5 {
    font-size: 1.15em;
}
.idxpresright-bottom ul li {
    font-size: 0.9em;
}
.properties-detail {
    float: left;
    width: 16.6%;
}
.properties-middle input[type="text"] {
    width: 98%;
}
.sel1 {
    width: 98%;
}
.properties-top img {
    width: 30%;
    margin: 0 auto;
}
.send-message input[type="text"], .send-message textarea {
    width: 95%;
}
.feature {
    margin: 2em 0;
}
.gallery-grid2 {
    float: left;
    width: 50%;
}
.gallery-grid1 {
    float: left;
    width: 33.3%;
}
.gallery-grid {
    float: left;
    width: 25%;
}
.gallery-grid:hover span.rollover1 {
    height: 113px;
    width: 150px;
}
.gallery-grid1:hover span.rollover1 {
    height: 157px;
    width: 210px;
}
.gallery-grid2:hover span.rollover1 {
    height: 165px;
    width: 330px;
}
.blog h3 a {
    font-size: 0.8em;
}
.categ ul li a {
    padding: 0px 24px;
}
.tags ul li a {
    padding: 0.7em 2em;
}
.coment-form input[type="submit"] {
    width: 21%;
}
.google-map iframe {
    height: 350px;
}
.contact-grid {
    float: left;
    width: 60%;
}
.contact-grid1 {
    float: left;
    width: 40%;
}
.contact-grid input[type="text"], .contact-grid textarea, .contact-grid input[type="email"] {
    width: 99%;
}
.contact-grid h5, .agent-info h5 {
	font-size: 1.4em;
}
.contact-grid textarea {
    width: 99%;
    height: 170px;
}
.contact-grid input[type="submit"] {
    width: 40%;
}
}
@media (max-width: 768px){
.caption {
    width: 60%;
}
}
@media(max-width:736px){
.email ul li a {
    font-size: 1em;
}
.navbar-header {
    width: 100%;
}
div#bs-example-navbar-collapse-1 {
    width: 100%;
}
.navbar-toggle {
    margin-right: 0px;
}
.navbar-nav {
    float: none;
    margin: 0;
    width: 100%;
    text-align: center;
}
.phone {
    float: none;
    width: 28%;
    text-align: center;
	margin: 1em auto 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #333D47;
}
.navbar-collapse {
    max-height: 778px;
}
.navbar-nav > li > a {
    padding: .8em 0em;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
       color: #fff;
    background-color: #FAA43D;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #C6C7C7;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #dca93c;
}
.navbar-default .navbar-toggle {
    border-color: #dca93c;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    background-color: #dca93c;
}
.navbar {
    padding-top: 1.5em;
}
.caption {
    width: 65%;
    margin: 5em 0em 0 1em;
    padding: .94em 1em;
}
.caption h3 {
    font-size: 1.5em;
}
.place-section,.offering,.friend-agent,.feature-section,.membership,.testimonials,.footer-section,.about-section,.services-section,.operation-consulting,.main-service,.properties-section,.agent-section,.prices-section,.faq-section,.gallery-section,.idxpress-section,.blog-section,.typography,.contact-section,.privacy,.terms{
    padding: 3em 0;
}
.about-bottom{
    padding-top: 3em;
}
.friend-grid h4, .membership-grid h4, .footer-grid h4, .service-grid h4, .services-grid h4, .operation-right h4, .agent-right h4, .similar-grids h4 ,.contact-grid1 h4,.terms h4{
    font-size: 1.35em;
}
.banner1, .banner2, .banner3 {
    min-height: 340px;
}
.place-section h2, .banner-section h2 {
    font-size: 2.4em;
}
.place-grid {
    width: 50%;
    float: left;
}
.place-grid:nth-child(3) {
    margin-top: 2em;
}
.place-grid:nth-child(4) {
    margin-top: 2em;
}
.place-grid1 {
    width: 50%;
    float: left;
}
.search {
    width: 100%;
}
.place-grids {
    margin-top: 2em;
}
.place-grid1:nth-child(3) {
    margin-top: 2em;
}
.place-grid1:nth-child(4) {
    margin-top: 2em;
}
.friend-grid {
    width: 100%;
}
.friend-grid img {
    width: 40%;
}
.friend-grid p {
    width: 59%;
    margin: 0 auto;
}
.friend-grid:nth-child(2) {
     margin: 2em 0;
}
.offering h3, .feature-section h3, .membership h3, .testimonials h3, .additional-details h3, .about-section h3, .main-service h3, .operation-consulting h3, .faq-section h3, .blog-grid1 h3, .blog h3, .coment-form h3 {
    font-size: 1.8em;
}
.offer-right h5 {
    font-size: 1.1em;
}
.feature-grid {
    float: left;
    width: 50%;
}
.feature-grid:nth-child(3) {
    margin-top: 2em;
}
.feature-grid:nth-child(4) {
    margin-top: 2em;
}
div#owl-demo {
    margin-top: 1em;
}
.testimonials h4 a {
    font-size: 0.95em;
}
.membership1 ul li {
    font-size: 0.965em;
}
.banner-section {
    min-height: 140px;
    padding: 4em 0 0;
}
.aboutbottom-right h5,.about-bottom2 h5,.about-right h5, .about-right1 h5 {
    font-size: 1.15em;
}
.services-grid p {
    padding: 0 1em 1em;
}
.service-grid i {
    font-size: 2em;
}
.operation-grid {
    width: 100%;
}
.operation-grid:nth-child(2) {
    margin-top: 2em;
}
.agent-right ul li {
    font-size: 0.965em;
}
.agentprofile-right {
    width: 100%;
}
.agentprofile-left {
    width: 100%;
	margin-top:2em;
}
.sale-info {
    width: 41%;
}
.detail-grid {
    float: left;
    width: 100%;
}
.detail-grid img {
    margin: 0 auto;
}
.detail-bottom {
    padding: 1em 1em;
    width: 71%;
    margin: 0 auto;
}
a.view {
    width: 71%;
    margin: 0 auto;
}
.detail-grid:nth-child(2) {
    margin: 2em 0;
}
.test-list ul li.text {
    font-size: 0.92em;
}
.idxpress-left {
 width: 100%;
}
.idxpress-right {
    width: 100%;
    margin-top: 2em;
}
.properties-detail {
    padding: 0;
}
.additional-details {
    margin-top: 2em;
}
.video h4 {
    width: 34%;
}
.gallery-grid2:hover span.rollover1 {
    height: 133px;
    width: 267px;
}
.gallery-grid1:hover span.rollover1 {
    height: 126px;
    width: 167px;
}
.gallery-grid:hover span.rollover1 {
    height: 89px;
    width: 118px;
}
.blog h3 a {
    font-size: 0.9em;
}
.coment-form input[type="text"], .coment-form textarea, .coment-form input[type="email"] {
    width: 90%;
    padding: 0.8em 1em;
}
.coment-form input[type="submit"] {
    width: 28%;
}
.grid_4 {
    background: none;
    margin-top: 0px;
}
.google-map iframe {
    height: 300px;
}
.contact-grid h5, .agent-info h5 {
    font-size: 1.25em;
}
.agent-info {
    margin-top: .8em;
}
.contact-grid input[type="submit"] {
    width: 50%;
}
}
@media(max-width:480px){
.social-icon {
    float: none;
    padding-top: .3em;
    width: 100%;
    text-align: center;
}
.email {
    float: none;
    text-align: center;
    width: 100%;
}
.email ul li a {
    font-size: .95em;
}
.email ul li {
    padding-bottom: .5em;
	padding-top:0;
}
.phone {
    width: 40%;
}
.caption {
    width: 70%;
    margin: 3em 0em 0 1em;
}
a.button {
    font-size: .99em;
}
.friend-grid p {
    width: 82%;
}
.offer-left {
    width: 100%;
}
.offer-right {
    width: 100%;
}
.offer-grid:nth-child(2) {
    margin-top: 2em;
}
.feature-grid h5 {
    font-size: 1.15em;
}
.membership-grid {
    width: 100%;
}
.membership-grid:nth-child(2) {
    margin: 2em 0;
}
.offer-grids,.membership-grids,.feature-grids,.about-me ,.similar-grids,.test-list,.service-grids,.operation-grids,.forsale-grids,.idxpres-grids,.contact-grids {
    margin-top: 2em;
}
.testmonial-img img {
    width: 35%;
}
.testmonial-img {
    width: 100%;
}
.testmonial-text {
    width: 100%;
}
.about-left {
    width: 100%;
}
.banner-section {
    min-height: 100px;
    padding: 2.5em 0 0;
}
.about-right {
    width: 100%;
	margin-top: 2em;
}
.about-grid1 {
    margin-top: 2em;
}
.about-left1 {
    float: left;
    width: 12%;
}
.about-left img {
    width: 100%;
}
.about-right1 {
    float: left;
    width: 86%;
}
.aboutbottom-left {
    width: 17%;
    margin-right: 2%;
}
.aboutbottom-right {
    float: left;
    width: 80%;
}
.aboutbottom-left p {
    width: 50px;
    height: 50px;
}
.aboutbottom-right h5,.about-bottom2 h5 {
    line-height: 1.5em;
}
.services-grid {
    width: 100%;
}
.services-grid:nth-child(2) {
    margin: 2em 0;
}
.service-grid {
    width: 100%;
}
.service-grid:nth-child(2) {
    margin-top: 2em;
}
.service-grid:nth-child(3) {
    margin-top: 2em;
}
.service-grid:nth-child(4) {
    margin-top: 2em;
}
.profile-left {
    width: 100%;
}
.profile-left img {
    margin: 0 auto;
}
.profile-right {
    width: 100%;
    margin-top: 2em;
}
.contact-me input[type="text"], .contact-me input[type="email"] {
    width: 100%;
}
.contact-me input[type="email"] {
    margin: 15px 0px;
}
.similar-grid {
    width: 100%;
}
.similar-grid:nth-child(3) {
    margin: 2em 0;
}
.forsale-left {
    width: 100%;
}
.forsale-right {
    width: 100%;
}
.forsale-left img {
  width: 100%;
}
.forsale1 ul li {
     padding: 0.5em 0em;
    font-size: 0.96em;
    text-align: center;
	display:block;
}
.forsale-grid1 {
    width: 100%;
}
.forsale-grid1:nth-child(2) {
    margin: 2em 0;
}
.forsale-grids h4 a,.forsale-grids h4 a {
    font-size: 1.05em;
}
.detail-bottom {
    width: 99.5%;
}
a.view {
    width: 100%;
}
.idxpres-left {
    width: 100%;
}
.idxpres-left img {
    width: 100%;
}
.idxpres-right {
    width: 100%;
}
.properties-detail {
    padding: 1em 0;
    width: 100%;
}
.properties-details {
    margin: .5em 0;
    padding: 0em 0em;
}
.video h4 {
    width: 47%;
    font-size: 1.35em;
}
.note {
    margin: 2em 0;
    padding: 1em 2em;
}
.note h4 {
    font-size: 1.35em;
}
.additional-details ul li {
    font-size: .89em;
}
.send-message h5 {
    font-size: 1.3em;
}
.gallery-grid2:hover span.rollover1 {
    height: 93px;
    width: 187px;
}
.gallery-grid1:hover span.rollover1 {
    height: 87px;
    width: 116px;
}
.gallery-grids{
    margin-top: 1em;
}
.gallery-grid {
    float: left;
    width: 50%;
}
.gallery-grid:hover span.rollover1 {
    height: 140px;
    width: 186px;
}
.gallery-grid:nth-child(3) {
    margin-top: 1em;
}
.gallery-grid:nth-child(4) {
    margin-top: 1em;
}
a.button5 {
    width: 26%;
}
.modal-dialog {
    width: 280px !important;
}
.login-right h3 {
    font-size: 2em;
}
.login-right input[type="submit"] {
    font-size: 1.2em;
	}
.tags ul li a {
    padding: 0.7em 1em;
}
p.rule-text,p.trad {
	padding: 1.5em;
 }
 .coment-form input[type="submit"] {
    width: 38%;
}
.history h4, .rules h4, .traditions h4 {
    font-size: 1.35em;
}
.coment-form input[type="text"], .coment-form textarea, .coment-form input[type="email"] {
    font-size: 0.96em;
}
.google-map iframe {
    height: 240px;
}
.contact-grid input[type="text"], .contact-grid textarea, .contact-grid input[type="email"] {
    font-size: 0.96em;
}
.contact-grid {
    width: 100%;
}
.contact-grid1 {
    width: 100%;
	margin-top: 2em;
}
.contact-grid input[type="submit"] {
    width: 41%;
}
.contact-grid h5, .agent-info h5 {
    line-height: 1.5em;
}
}
@media(max-width:375px){
.caption {
    width: 73%;
    margin: 3.5em 0em 0 1em;
}
ul.callbacks_tabs.callbacks1_tabs {
    bottom: 10%;
    left: 35%;
}
.banner1 {
    background: url(../images/bnr1.jpg) no-repeat -182px 0px;
	background-size:cover;
}
.banner2 {
    background: url(../images/bnr2.jpg) no-repeat -182px 0px;
	background-size:cover;
}
.banner3 {
    background: url(../images/bnr3.jpg) no-repeat -182px 0px;
	background-size:cover;
}
.phone {
    width: 50%;
}
.sel {
    width: 100%;
    padding: .3em .8em;
}	
.place-section h2, .banner-section h2 {
    font-size: 2em;
}
.place-section, .offering, .friend-agent, .feature-section, .membership, .testimonials, .footer-section, .about-section, .services-section, .operation-consulting, .main-service, .properties-section, .prices-section, .faq-section, .gallery-section, .idxpress-section, .blog-section, .typography, .contact-section, .privacy, .terms {
    padding: 2em 0;
}
.offering h3, .feature-section h3, .membership h3, .testimonials h3, .additional-details h3, .about-section h3, .main-service h3, .operation-consulting h3, .faq-section h3, .blog-grid1 h3, .blog h3, .coment-form h3 {
    font-size: 1.6em;
}
.feature-grid {
    width: 100%;
}
.friend-grid p {
    width: 100%;
}
.friend-grid img {
    width: 50%;
}
.feature-grid:nth-child(2) {
    margin-top: 2em;
}
.footer-grid {
    width: 100%;
}
.footer-grid:nth-child(2) {
    margin-top: 1em;
}
.about-left1 {
    float: left;
    width: 15%;
}
.about-right1 {
    float: left;
    width: 83%;
}
.about-bottom {
    padding-top: 2em;
}
.aboutbottom-left {
    width: 20%;
}
.aboutbottom-right {
    float: left;
    width: 78%;
}
.service-grid {
    padding: 1.5em 1em;
}
.operation-left {
    width: 100%;
}
.operation-right {
    width: 100%;
	margin-top: 1em;
}
.agent-left img {
    width: 100%;
}
.agent-left {
    width: 100%;
}
.agent-right {
    width: 100%;
}
.contact-me textarea {
    min-height: 160px;
}
.contact-me input[type="submit"], .contact-me input[type="reset"] {
    width: 24.68%;
}
.forsale-right h5 {
    font-size: 1em;
}
.forsale-grids h4 a, .forsale-grids h4 a {
    font-size: 0.952em;
}
.price-grid {
    width: 100%;
}
.price-top h4 {
    font-size: 1.6em;
}
.price-bottom h5 {
    font-size: 1.4em;
}
.price-grid:nth-child(2) {
    margin-top: 2em;
}
.idxpresright-bottom ul li {
    padding: 0 0.6em;
}
ul.privacy-start li a i ,ul.terms-start li a i{
    margin: 0 3% 0 0;
}
.video h4 {
    width: 58%
}
.properties-top img {
    width: 40%;
}
.similar-grid:nth-child(3) {
    margin: 1em 0;
}
.gallery-grid2 {
    width: 100%;
}
.gallery-grid2:nth-child(2) {
    margin-top: 1em;
}
.gallery-grid2:hover span.rollover1 {
    height: 149px;
    width: 298px;
}
.gallery-grid1 {
    width: 100%;
}
.gallery-grid1:nth-child(2) {
    margin: 1em 0;
}
.gallery-grid1:hover span.rollover1 {
      height: 224px;
    width: 298px
}
.gallery-grid {
    width: 100%;
}
.gallery-grid:hover span.rollover1 {
    height: 224px;
    width: 298px;
}
.gallery-grid:nth-child(2) {
    margin-top: 1em;
}
.gallery-grids {
    margin-top: 0em;
}
.galry{
margin-top: 1em;
}
a.button5 {
    width: 33%;
}
p.quote {
    margin: 2em 1em 0;
}
.coment-form input[type="text"], .coment-form textarea, .coment-form input[type="email"] {
    width: 100%;
}
.coment-form input[type="submit"] {
    width: 58%;
}
.contact-grid input[type="submit"] {
    width: 52%;
}
}
@media(max-width:320px){
.navbar-brand h1 a {
    font-size: 0.965em;
}
.phone {
    width: 60%;
}
.caption h3 {
    font-size: 1.25em;
}
.email ul li {
    display: inline-block;
    margin-right: 1.5em;
}
.modal-dialog {
    margin: 8em auto 0 auto;
}
.place-grid {
    width: 100%;
	padding:0;
}
.place-grid:nth-child(2),.place-grid:nth-child(3),.place-grid:nth-child(4) {
    margin-top: 1em;
}
.place-grid h5, .place-grid1 h5 {
    font-size: 1.15em;
}
.place-grid1 {
    width: 100%;
    padding: 0;
}
.place-grids {
    margin-top: 1em;
}
.place-grid1:nth-child(2),.place-grid1:nth-child(3),.place-grid1:nth-child(4) {
    margin-top: 1em;
}
.offer-grid {
    padding: 0;
}
.feature-grid {
    padding: 0;
}
.membership-grid {
    padding: 0;
}
.testmonial-img {
    padding: 0;
}
.testmonial-text {
    padding: 0;
}
.footer-grid {
    padding: 0;
}
.banner-section {
    min-height: 85px;
    padding: 2em 0 0;
}
.about-grid {
    padding: 0;
}
.about-grid1 {
    padding: 0;
}
.about-bottom1 {
    padding: 0;
}
.about-bottom2 {
    padding: 0;
}
/*.aboutbottom-left {
    width: 100%;
}
.aboutbottom-left p {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.aboutbottom-right {
    width: 100%;
    margin-top: 1em;
}*/
.services-grid {
    padding: 0;
}
.agent-grid {
    padding: 0;
}
.agentprofile-left {
    padding: 0;
}
/*.agentprofile-right {
    padding: 0;
}*/
.similar-grid {
    padding: 0;
}
.forsales-left {
    padding: 0;
}
.forsale-grids h4 a, .forsale-grids h4 a {
    line-height: 1.5em;
}
/*.properties-right {
    padding: 0;
}*/
.forsale-grid1 {
    padding: 0;
}
.sale-info {
    width: 30%;
    left: 0px;
}
.price-grid {
    padding: 0;
}
.details-grids {
    margin-top: 2em;
}
.detail-grid {
    padding: 0;
}
.idxpress-right {
    padding: 0;
}
.idxpres-left img {
    margin: 0 auto;
    width: 100%;
}
.idxpress-top iframe {
    height: 250px;
    padding: 6px;
    border: 1px solid#fff;
}
ul.bottom-left {
    width: 100%;
}
ul.bottom-right {
    width: 100%;
}
.properties-left {
    padding: 0;
}
/*.properties-right {
    padding: 0;
}*/
.video h4 {
    width: 63%;
}
.gallery-grid2 {
    padding: 0;
}
.gallery-grid1 {
    padding: 0;
}
.gallery-grid {
    padding: 0;
}
.gallery-grid2:hover span.rollover1 {
    height: 137px;
    width: 273px;
}
.gallery-grid1:hover span.rollover1 {
    height: 205px;
    width: 273px;
}
.gallery-grid:hover span.rollover1 {
    height: 205px;
    width: 273px;
}
a.button5 {
    width: 38%;
}
.feature {
    margin: 1em 0;
}
.coment-form input[type="submit"] {
    width: 73%;
}
.coment-form label {
    margin-left: .5em;
    font-size: .85em;
    margin-top: 1em;
}
.tags ul li a {
    font-size: .8em;
}
.tags {
    margin: 1em 0;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 10px;
}
.forsale-grids1 {
    margin-top: 2em;
}
.google-map iframe {
    height: 200px;
    border: 1px solid#fff;
    padding: 6px;
}
.contact-grid {
    padding: 0;
}
.contact-grid1 {
    padding: 0;
}
.contact-grid input[type="submit"] {
    width: 56%;
}
.modal-body {
	padding: 1em 2em 2em;
}
.login-right h3 {
    font-size: 2em;
}
.login-right input[type="submit"] {
    font-size: 1.2em;
}